<h2>Employee List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email Id </th>
            <th> Actions </th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.emailId}}</td>
            <td><a class="nav-link" href="createEmployee">Upate Employee</a></td>

        </tr>
    </tbody>
</table>